* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  user-select: none;
  border: none;
  outline: none;
  font-family: "normal";
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 9px;
  height: 5px;
  background: rgba(155, 155, 155, 0.5);
}

body {
  background-color: #000000;
  color: #ffffff;
}

.center {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 30px;
}

.center>div {
  margin-bottom: 10px;
}

#loadingScreen {
  font-size: 10em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#trackName {
  font-size: 16px;
  width: 310px;
  white-space: pre;
  overflow: hidden;
  padding: 0 10px;
}

#trackImage {
  width: 300px;
  height: 300px;
}

#trackArtist {
  font-size: 14px;
  width: 310px;
  white-space: pre;
  overflow: hidden;
  padding: 0 15px;
  color: #808080;
}

.time_update {
  color: #bfbfbf;
  font-size: 12px;
}

.controls2 {
  height: 35px;
}

.controls2 i {
  margin-right: 20px;
}

.button {
  color: #555;
  text-decoration: none;
  white-space: nowrap;
}

.button.solid {
  background-color: #102710;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.button.enabled {
  color: #999;
  cursor: pointer;
}

.button.enabled:hover, .button.selected {
  color: #ccc;
}

.button.solid:hover {
  background-color: #232;
}

.button.selected {
  color: #ccf;
}

.progressBar {
  border: 1px solid white;
  flex-grow: 1;
  height: 10px;
  margin: 0px 10px;
  position: relative;
}

.progressBar div {
  height: 100%;
  position: absolute;
}

#progressEnabled {
  background-color: lightgrey;
}

#progressPosition {
  background-color: lightgreen;
}

#playlistName {
  margin-left: 10px;
}

#searchResults {
  height: 60vh;
  overflow: auto;
  width: 95vw;
}

#searchResults div, #searchAlbum {
  margin-right: 10px;
}

#searchResults img {
  max-height: 64px;
  max-width: 64px;
}

#loginButton {
  font-size: 2em;
}

#changeUser {
  position: absolute;
  right: 0px;
  top: 0px;
}
